<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'login_page_style.css' %}">
</head>

<body>

<form action="password_reset_request" method="GET" style="border:1px solid #ccc">
  <div class="container">
    <h1>Password reseting</h1>
    <p>Please enter your email/username</p>
    <hr>

    <label for="email"><b>Email/username</b></label>
    <input id="username" type="text" placeholder="Enter Email" name="user_email" required>
    
    <p>Still dont have an account? <a href="#" style="color:dodgerblue">register here</a>.</p>

    <div class="clearfix">
      <button type="submit" class="signupbtn">Send Email</button>
    </div>
  </div>
</form>

</body>
</html>