<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'login_page_style.css' %}">
</head>

<body>

<form action="password_reset" method="GET" style="border:1px solid #ccc">
  <div class="container">
    <h1>Password reseting</h1>
    <p>Please enter your new password</p>
    <hr>
    <h2>Dear {{user_email}} user </h2>

    <label for="email"><b>New password</b></label>
    <input id="password" type="password" placeholder="enter your new password" name="user_password" required>
    
    <label for="email"><b>Confirm new password</b></label>
    <input id="password_confirm" type="password" placeholder="enter your password again" name="user_password_confirm" required>
    
    <div class="clearfix">
        <button type="submit" class="signupbtn">reset</button>
    </div>

  </div>
</form>

</body>
</html>